<%= form_for(@work_card) do |f| %>
  <% if @work_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_card.errors.count, "error") %> prohibited this work_card from being saved:</h2>

      <ul>
      <% @work_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.text_field :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.text_field :end %>
  </div>
  <div class="field">
    <%= f.label :multiplyier %><br>
    <%= f.text_field :multiplyier %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
