<%= form_for(@work_card) do |f| %>
  <% if @work_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_card.errors.count, "error") %> prohibited this work_card from being saved:</h2>

      <ul>
      <% @work_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_at %><br>
    <%= f.text_field :start_at %>
  </div>
  <div class="field">
    <%= f.label :end_at %><br>
    <%= f.text_field :end_at %>
  </div>
  <div class="field">
    <%= f.label :pause %><br>
    <%= f.text_field :pause %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
