<h1>Listing work_cards</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>End at</th>
      <th>Pause</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work_cards.each do |work_card| %>
      <tr>
        <td><%= work_card.start_at %></td>
        <td><%= work_card.end_at %></td>
        <td><%= work_card.pause %></td>
        <td><%= link_to 'Show', work_card %></td>
        <td><%= link_to 'Edit', edit_work_card_path(work_card) %></td>
        <td><%= link_to 'Destroy', work_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work card', new_work_card_path %>
