<p id="notice"><%= notice %></p>

<p>
  <strong>Start at:</strong>
  <%= @work_card.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @work_card.end_at %>
</p>

<p>
  <strong>Pause:</strong>
  <%= @work_card.pause %>
</p>

<%= link_to 'Edit', edit_work_card_path(@work_card) %> |
<%= link_to 'Back', work_cards_path %>
