<p id="notice"><%= notice %></p>
  <% if @work_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_card.errors.count, "error") %> prohibited this work_card from being saved:</h2>

      <ul>
      <% @work_card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <strong>Start at:</strong>
  <%= @work_card.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @work_card.end_at %>
</p>

<p>
  <strong>Pause:</strong>
  <%= @work_card.pause %>
</p>

<%= link_to 'Edit', edit_work_card_path(@work_card) %> |
<%= link_to 'Back', work_cards_path %>
